@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: inter;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 8%);
    text-align: center;

}

h3{
    font-family: inter;
    font-size: 23px;
    font-weight: 600;
    padding: 0.5rem 1rem;
}

h4{
    font-size: 13px;
    color: hsl(75, 94%, 57%);
}

p{
    font-size: 12px;
    font-weight: 400;
    padding: 1rem;
}
img{
    width: 5rem;
    height: auto;
    border-radius: 100px;
}

button{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    padding: 10px;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

.bt :hover{
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

.card{
    width: fit-content;
    background-color:hsl(0, 0%, 12%);
    padding: 2rem 1.5rem;
    margin: 6rem auto 0.5rem auto;
    border-radius: 10px;
}

.attribution { 
    font-size: 10px; text-align: center; 
    padding: 1rem 0;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}



